#variant defconfig
CONFIG_MACH_MATISSEWIFI_OPEN=y
CONFIG_SEC_MATISSE_PROJECT=y
CONFIG_SEC_MATISSEWIFI_COMMON=y

#
#CONFIG_CMDLINE="console=tty0,115200 fbcon=rotate:1 fbcon=font:VGA8x8"
##CONFIG_CMDLINE="mem=109M diag=arm9 fbcon=rotate:1 fbcon=font:VGA8x8"
#CONFIG_CMDLINE_FORCE=y

## CONFIG_FB_MSM_LOGO is not set
## CONFIG_FB_MSM_SEC_BOOTLOGO is not set
#CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y

## CONFIG_FONT_8x16 is not set
## CONFIG_PRINTK_TIME is not set

#CONFIG_VT=y
#CONFIG_DUMMY_CONSOLE=y
#CONFIG_FRAMEBUFFER_CONSOLE=y
#CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
#CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
#CONFIG_FONTS=y
#CONFIG_FONT_8x8=y
#CONFIG_FONT_8x16=y
#CONFIG_LOGO=y
#CONFIG_LOGO_LINUX_MONO=y
